.overlayStyle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalStyle {
  width: 90%;
  max-width: 320px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.headerStyle {
  padding: 16px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleStyle {
  font-size: 16px;
  font-weight: 500;
}

.closeStyle {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.pwdBoxContainerStyle {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 30px 16px;
}

.pwdBoxStyle {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dotStyle {
  margin: auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #111;
}

.padContainerStyle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: #f5f5f5;
}

.padRowStyle {
  display: flex;
  gap: 10px;
}

.padBtnStyle {
  flex: 1;
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
}
